@{
    ViewData["Title"] = "Plano Conta";
}

<div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Plano de Contas</h2>
            <a href="@Url.Action("Cadastrar", "PlanoConta")" class="btn btn-primary">Novo Plano de Conta</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoConta)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Descricao</td>
                        <td>@item.Tipo</td>
                        <td><button type="button" class="btn btn-block btn-outline-warning"
                                onclick="Editar(@item.Id.ToString())">Editar</button></td>
                        <td><button type="button" class="btn btn-block btn-outline-danger"
                                onclick="Excluir(@item.Id.ToString())">Excluir</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script>
    function Excluir(id) {
        window.location.href = "../PlanoConta/Excluir/" + id;
    }

    function Editar(id) {
        window.location.href = "../PlanoConta/Cadastrar/" + id;
    }
</script>